[Unit]
Description=server daemon for {USER}

[Service]
Type=forking
User={USER}
KillMode=none
ExecStart=/opt/terraria/{IID}/scripts/svc-exec --iid {IID}
ExecStop=/opt/terraria/{IID}/scripts/svc-cmd --iid {IID} --invoke exit
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
