[Unit]
Description=server daemon for terraria

[Service]
Type=forking
User=terraria
KillMode=none
ExecStart=/usr/bin/screen -dmS terraria /bin/bash -c "/opt/terraria/terraria-1403-x86_64-linux-gnu/TerrariaServer.bin.x86_64 -config /opt/terraria/data/server.conf"
ExecStop=/usr/local/bin/terrariad exit

[Install]
WantedBy=multi-user.target
